.hidden {
  display: none;
}

.form1 {
  text-align: center;
  padding: auto;
}

.form2 {
  text-align: center;
  padding: auto;
}

.form3 {
  text-align: center;
  padding: auto;
}

.col {
  padding: 1rem;
  background-color: #3f51b5;
  border: 2px solid white;
  color: white;
  text-align: center;
}

.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg") no-repeat center center;
  background-size: cover;
}

html,
body,
header,
.view {
  height: 100%;
}

h1 {
  color: white;
}

h5 {
  color: white;
}

.exchange__result {
  text-align: center;
}

.rate_change_result {
  text-align: center;
}

.hiddenSmall {
  text-align: center;
}

.form1Back {
  background-color: #3f51b5;
}
